.header {
  &__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  &__logo {
    width: 226px;
    height: 63px;
    display: block;
  }

  &__wrapper {
    max-width: 545px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__tel {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    color: $main-black;

    &::before {
      content: "";
      width: 28px;
      height: 28px;
      display: block;
      margin-right: 22px;

      @include bg("./../images/tel.png", auto, center);
    }
  }

  .socials {
    font-size: 0;

    &__link:first-child {
      margin-right: 26px;
    }

    &__lang {
      appearance: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-image: url("./../images/rf.png"),
        url("./../images/arrow-down.png");
      background-size: 41px, 11px 6px;
      background-repeat: no-repeat;
      background-position: left center, right center;
    }
  }

  &__bottom-container {
    padding-top: 22px;
    padding-bottom: 22px;

    .navs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;

      &__link {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        color: $main-black;
        text-decoration: none;

        &:hover {
          color: $main-green;
        }
      }
    }
  }

  &__close-button {
    width: 30px;
    height: 30px;
    display: none;

    @include zero-btn();
  }

  &__hamburger {
    @include zero-btn();
  }

  &__mobile {
    display: none;
  }

  .curtain {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  }
}

// Responsive

@media only screen and (max-width: 1000px) {
  .header {
    &__desktop {
      display: none;
    }

    &__mobile {
      display: block;
    }

    &__mobile-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__logo {
      width: 74px;
      height: 74px;
    }

    &__hamburger {
      margin-right: 171px;
      order: -1;
      text-align: left;
    }

    &__tel {
      font-size: 22px;
      line-height: 37px;

      &::before {
        margin-right: 19px;
      }
    }

    // menu
    &__desktop {
      position: absolute;
      z-index: 1000;
      background-color: $main-white;
      min-height: 796px;
      max-width: 370px;
      width: 100%;
      padding: 26px;
    }

    &__desktop--on {
      display: block;
    }

    &__top-container,
    &__bottom-container {
      padding: 0;
    }

    &__wrapper {
      max-width: none;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
    }

    &__tel-1000 {
      margin-bottom: 40px;
      font-size: 22px;
      line-height: 26px;

      &::before {
        margin-right: 13px;
        width: 23px;
        height: 23px;
        background-size: cover;
      }
    }

    &__close-button {
      display: block;
      position: absolute;
      top: 24px;
      right: 26px;
    }

    .navs {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      &__link {
        font-size: 20px;
        line-height: 15px;
      }
    }

    &__socials {
      position: absolute;
      bottom: 120px;
      left: 26px;

      a:first-child {
        margin-right: 30px;
      }
    }

    &__logo-link--large {
      display: none;
    }

    .curtain--on {
      display: block;
    }
  } // header

  .line {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    &__hamburger {
      margin-right: 133px;
    }
    &__hamburger-image {
      width: 50px;
      height: 29px;
    }

    &__tel {
      &::before {
        margin-right: 18px;
        width: 23px;
        height: 23px;
        background-size: cover;
      }

      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__hamburger {
      margin-right: 92px;
    }

    &__logo {
      width: 45px;
      height: 45px;
    }

    &__mobile-container {
      padding: {
        left: 23px;
        right: 16px;
        top: 6px;
        bottom: 6px;
      }
    }

    &__hamburger-image {
      width: 29px;
      height: 18px;
    }

    &__tel {
      font-size: 12px;
      line-height: 26px;

      &::before {
        width: 14px;
        height: 14px;
        margin-right: 13px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .header {
    &__mobile-container {
      padding: 9px 11px;
      justify-content: space-between;
    }

    &__logo {
      width: 39px;
      height: 39px;
    }

    &__tel {
      display: none;
    }
  }
}
